{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a program</h1>

    <form action="" method="post">

        <div class="form-group">
            <label for="name">Program name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Program name...">
        </div>

        <div class="form-group">
            <label for="description">Program description</label>
            <textarea class="form-control" name="description" id="description" placeholder="Program description..."></textarea>
        </div>

        <div class="form-group">
            <label for="start">Program start</label>
            <input type="start" class="form-control" name="start" id="start" placeholder="Y-m-d H:i:s">
        </div>

        <div class="form-group">
            <label for="start">Duration</label>
            <input type="text" class="form-control" name="duration" id="duration" placeholder="Duration">
        </div>

        <div class="form-group">
            <label for="start">Channel_id</label>
            <input type="text" class="form-control" name="channel" id="channel" placeholder="Channel Id">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr/>
    <a href="/" class="btn btn-default">Go Home</a>
{% endblock %}