{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Program list</h1>

    <ul>
    {% for program in programs|sort  %}
        <li>
        {{ program.start|date('H:i') }} :
        {{ program.name }}
        ({{ program.duration }}min)
        </li>
    {% endfor %}

    </ul>
{% endblock %}
