{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Program list</h1>
<ul>
    <li>channel
        <ul>
            {% for program in programs %}
                <li>
                    {{ program.start|date('H') }}:<a href="#">{{ program.name }}</a>({{ program.duration }}min)
                </li>
            {% endfor %}

        </ul>

    </li>
</ul>

{% endblock %}
